NODE_ENV=development
PORT=4000
CORS_ORIGIN=http://localhost:3000
CORS_ORIGINS=http://localhost:3000,http://localhost:3002

# Plaid (sandbox)
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox
PLAID_PRODUCTS=transactions
PLAID_COUNTRY_CODES=US

# App
APP_URL=http://localhost:4000
